services:
  martin.localurltotext.listener:
    class: martin\localurltotext\event\listener
    arguments:
      - '@config'
      - '@auth'
      - '@dbal.conn'
      - '%core.php_ext%'
      - '@user'                  # needed when Pages extension is installed
      - '@?phpbb.pages.operator' # also needed for Pages extension
    tags:
      - { name: event.listener }
